<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Emlak_Ziyaret.Properties.Settings.Emlak_SitesiConnectionString"
            connectionString="Data Source=DESKTOP-1MFSCBQ\MSSQLSERVERAD;Initial Catalog=Emlak_Sitesi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>